<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <!-- Appenders -->
    <appender name="RollingFileAppender" type="log4net.Appenders.RollingFileAppender">
      <file value="logs/warehouse.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" type="log4net.Appenders.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%-5level] %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Root logger -->
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <!-- Specific loggers -->
    <logger name="WarehouseAPI.Services.AuditService">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
