<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <!-- File Appender -->
    <appender name="FileAppender" type="log4net.Appenders.RollingFileAppender">
      <file value="logs/warehouse.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyy-MM-dd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" type="log4net.Appenders.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Root logger -->
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <!-- Specific loggers -->
    <logger name="WarehouseAPI">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
