#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logo {
  display: none;
}
.logo:hover {
  display: none;
}
.logo.react:hover {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: none;
}

.read-the-docs {
  display: none;
}
